*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.login_container
{
    display:flex;
    height: 100vh;
}

.login_left
{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#03AEEE;
    width: 50%;
}

.login_right
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.login_img
{
    border : 20px solid #FAF9F6;
    height:400px;
    width:400px;
    border-radius: 50%;
}

.login_btn
{
    color:white;
    margin:10px;
    background-color: #03AEEE;
    height: 40px;
    width:300px;
    border-radius: 10px;
    border:none;
}

.login_right_from
{
    height:400px;
    width:400px;
}

.login_right_img
{
    height:50px;
    width:200px;
}

input:focus,
input:focus-visible,
input:active {
    border: none;
    outline: none;
    box-shadow: none;
}

input[type='text'],
input[type='password'] {
    border: 1px solid #ccc;
    margin:5px;
    height:40px;
    border-radius: 10px;
    width:300px;
    padding-left:10px;
}

input[type='text']:focus,
input[type='password']:focus {
    border: 1px solid #ccc;
}

.relative
{
    position: relative;
}

input[type='text']+label,input[type='password']+label
{
    position:absolute;
    top:20px;
    left:15px;
    color:#ccc;
    pointer-events:none;
    z-index: 1;
    transition: all 0.5s ease;
}


input[type='text']:hover+label,input[type='password']:hover+label
{
    top:3px;
    color:#03AEEE;
    background: white;
    padding:0 10px;
    font-size:10px;
}

